In [1]:
import os.path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline
sns.set()
warnings.filterwarnings("ignore")

## Loading the cleaned data

In [2]:
bank_additional_cleaned = pd.read_csv('bank_additional_cleaned.csv')
bank_additional_cleaned.head()

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,cons.price.idx,cons.conf.idx,y,PC1
0,56.0,housemaid,married,basic.4y,no,no,telephone,may,mon,261.0,1.0,0.0,nonexistent,93.994,-36.4,0.0,-1.015079
1,57.0,services,married,high.school,no,no,telephone,may,mon,149.0,1.0,0.0,nonexistent,93.994,-36.4,0.0,-1.015079
2,37.0,services,married,high.school,yes,no,telephone,may,mon,226.0,1.0,0.0,nonexistent,93.994,-36.4,0.0,-1.015079
3,40.0,admin.,married,basic.6y,no,no,telephone,may,mon,151.0,1.0,0.0,nonexistent,93.994,-36.4,0.0,-1.015079
4,56.0,services,married,high.school,no,yes,telephone,may,mon,307.0,1.0,0.0,nonexistent,93.994,-36.4,0.0,-1.015079

In [3]:
bank_additional_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37091 entries, 0 to 37090
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             37091 non-null  float64
 1   job             37091 non-null  object
 2   marital         37091 non-null  object
 3   education       37091 non-null  object
 4   housing         37091 non-null  object
 5   loan            37091 non-null  object
 6   contact         37091 non-null  object
 7   month           37091 non-null  object
 8   day_of_week     37091 non-null  object
 9   duration        37091 non-null  float64
 10  campaign        37091 non-null  float64
 11  previous        37091 non-null  float64
 12  poutcome        37091 non-null  object
 13  cons.price.idx  37091 non-null  float64
 14  cons.conf.idx   37091 non-null  float64
 15  y               37091 non-null  float64
 16  PC1             33551 non-null  float64
dtypes: float64(8), object(9)
memory usage: 4.8+ MB